Experience with web development languages of HTML, CSS and JavaScript/jQuery.

    HTML
        Familiarity of HTML syntax for multiple specifications, including HTML 5.
        Knowledge of the semantic meaning of all HTML elements.
        Familiarity with the semantic markup for display of lists, tabular data, forms, articles, etc.
        Knowledge of markup used for layout such as dividers.
        Knowledge at the level to be able to hand-code markup.
        Including media and images.
    CSS
        Specifying different CSS for various media, devices and displays.
        Best practices in CSS file organization and structure.
        Methods for including CSS inline, internal and external via linked style sheets.
        How to define, combine and group CSS selectors for HTML elements, ID, classes, pseudo classes, child or sibling.
        Syntax of CSS declarations, properties and attributes.
        CSS box model and methods for CSS positioning, absolute and relative.
        Knowledge of properties and attributes to control the display.
        Familiarity with differences in CSS 2 and CSS 3.
        Proficient with a CSS Preprocessor such as Sass or LESS. 
    Best practices
        Methods to ensure browser & device compatibility
        Methods for degrading gracefully for older browsers and displays.
        Methods to ensure accessibility.
        File compression techniques for improving speed.
    JavaScript
        Knowledge of the operators, variables, datatypes, objects, properties and methods.
        Familiarity with control structures such as objects, functions, conditional statements, arrays, loops and expressions.
        Forms and regular expression validation and submitting data.
        Knowledge of how to apply logical operators and conditional statements.
        Knowledge of the DOM HTML objects and their properties.
    Event handling.
        Creating and controlling windows and dialogs.
        Processes for troubleshooting and debugging
        Familiarity with development and debugging tools for cross-browser issues.
    jQuery
        Knowledge of how to employ the jQuery library for visual effects, event handling, and document manipulation.
